:root {
	--white: #ffffff;
	--off-white: #faf9f6;
	--black: #000000;
	--matte-black: #28282b;
	--royal-main: #740874;
	--royal-dark: #680868;
	--royal-light: #820882;
	--gold-main: #dbb658;
	--gold-dark: #af9146;
	--gold-light: #e2c479;
	--blue-main: #0030f9;
	--blue-dark: #0426ad;
	--blue-light: #244ef9;
	--blue-super-dark: #010f45;
	--midnight-blue: #191970;
}

* {
	padding: 0;
	margin: 0;
	font-family: fira-code;
}

html {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;
	background-color: var(--blue-super-dark);
}

body {
	display: flex;
	flex-direction: column;
	background: radial-gradient(var(--blue-main), var(--blue-dark));
	justify-content: center;
	align-items: center;
	width: 99vw;
	padding: 8px;
}

.container {
	display: flex;
	box-sizing: border-box;
}

a,
li {
	text-decoration: none;
	list-style: none;
}

.btn {
	display: flex;
	box-sizing: border-box;
	place-content: center;
	place-items: center;
	width: 80px;
	height: 40px;
	border-radius: 20px;
	border: 2px ridge var(--gold-main);
	background-color: var(--blue-super-dark);
}

.btn a {
	color: var(--blue-light);
	font-size: 0.8em;
}

.btn a .fa-person-running {
	font-size: 1.2em;
}

h1 {
	color: var(--blue-super-dark);
	text-shadow: 3px 1px 3px var(--gold-light);
}
